body {
  margin: 0; padding: 0;
  cursor: default;
  font-family: Helvetica,Arial,Tahoma,sans-serif;
}
h1, h2, h3, h4 {
  -moz-user-select: none;
}

/* Global rules */
h2, h3 {
  margin:0;
}
h3 {
  font-size: 1em;
}
ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
li {
  list-style:none;
}
a, li.link {
  list-style:none;
  cursor: pointer;
}
a:hover, li.link:hover {
  text-decoration: underline;
}

/* Header block */
#header {
  background-image: -moz-linear-gradient(270deg, rgb(90, 103, 118), rgb(78, 88, 97));
  border-bottom: 2px solid #000;
  position: relative;
  color: white;
}

#title {
  line-height: 2em;
  margin: 0;
  margin-left: 2em;
}

#options {
  display: none;
  padding: 1em;
}
#general-options-button {
  position: absolute;
  right: 1em;
  top: 1.5em;
}
#target-platform-binary {
  margin: auto;
  padding: 0.5em;
}
#run-within {
  cursor: pointer;
}
#run-another {
  display: none;
  margin-left: 23px;
}
#run-another select {
  font-size: 12px;
}

#run-as-app {
  margin-left: 1em;
}

/* Packages block */
#packages-box {
  margin: -2px 0.5em 0.5em 0;
  padding: 1em;
  background-color: rgba(78, 88, 97, 1);
  color: white;
  border: 2px solid #000;
  border-top: 0; border-left: 0;
  float: left;
  min-width: 180px;
  position: relative;
}

#packages-options {
  display: none;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#packages-options-button {
  position: absolute;
  right: 1em;
  top: 1.4em;
}

#packages-path h1 {
  margin-bottom: 0;
}
#packages-path textarea {
  height: 3em;
  width: 100%;
}

#packages-list > li.current {
  font-weight: bold;
  background: white;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-left: -10px;
  line-height: 18px;
  color: rgba(78, 88, 97, 1);
}


/* Select Package details block */

#package-description {
  margin: 0.5em;
}
#package-description li {
  padding-left: 10px;
}
#package-actions {
  float: right;
}
.package-dir-name {
  font-size: 1em;
  text-decoration: underline;
}

#directories {
  -webkit-box-flex:3;
  -moz-box-flex:3;
  box-flex:3;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction : reverse;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-direction : reverse;
  display: box;
  box-orient: horizontal;
  box-direction : reverse;
  width:  -moz-calc(100% - 300px);
}

#directories h3 {
  text-decoration: underline;
}
#directories div {
  padding-top: 1em;
}
#directories ul {
  text-align: left;
}
.action {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(78, 88, 97, 1);
  border-radius: 10px;
  border: 1px solid gray;
  color: white;
  padding: 0 10px;
  cursor: pointer;
}

span.action:hover {
  color: black;
  background: lightgray;
}

#package-libs, #package-tests {
  -webkit-box-flex:1;-moz-box-flex:1;box-flex:1;
}

#package-libs {
  -webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;box-ordinal-group:2;
}
#package-tests {
  -webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;box-ordinal-group:1;
}


/* Run panel block */

#run-panel {
  display: none;
  clear: both;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid rgb(208, 213, 219);
  background-image: -moz-linear-gradient(270deg, rgb(255, 255, 254), rgb(243, 245, 247));
}

#report-title {
  font-weight: bold;
  margin-bottom: 0.3em;
}
#report-title[test-result="succeeded"] {
  background-color: lightgreen;
}
#report-title[test-result="failed"] {
  background-color: IndianRed;
}

#run-state {
  float: right;
}
#run-state-info {
  color: #aaa;
  font-weight: bold;
}
#run-kill {
  font-weight: bold;
  color: #aaa;
}
#run-kill.on {
  color: rgb(200,100,0);
}

#console-report {
  font-family: Courier New;
  font-size: 12px;
  cursor: text;
  white-space: pre-wrap;
}

span.step {
  font-weight: bold;
}
span.success {
  color: darkgreen;
}
span.fail {
  color: darkred;
}
span.resume {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

