h1 {
  font-size: 18px;
}
ul {
  margin: 0;
  padding-left: 10px;
}
a, li {
  list-style:none;
  cursor: pointer;
}
a:hover, li:hover {
  text-decoration: underline;
}

#packages-path h1 {
  margin-bottom: 0;
}
#packages-path textarea {
  height: 3em;
  width: 100%;
}

#packages-box {
  float: left;
  width: 200px;
}

#package-description {
  /*display:none;*/
  margin-left: 200px;
}
#package-description li {
  padding-left: 10px;
}
#package-actions {
  margin-bottom: 20px;
  text-align: center;
}
.package-dir-name {
  font-weight: bold;
}

#package-libs {
  float: left;
  width: 50%;
}
#package-tests {
  margin-left: 50%;
}
